:root {
  --blue: #6943ff;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8f1eb;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.bgFancy {
  border-radius: 100% 0% 100% 0% / 97% 100% 0% 3%;
  width: 80%;
  height: 800px;
  position: fixed;
  z-index: -3;
  background-color: #ddeae1;
  bottom: 0;
  right: 0;
}
.rightTop {
  position: fixed;
  z-index: -3;
  width: 30%;
  height: 400px;
  background-color: #ddeae1;
  border-radius: 0% 100% 100% 0% / 97% 1% 99% 3%;
}
.miConversion {
  border-radius: 10px;
  width: 40%;
  min-width: 400px;
  position: absolute;
  text-align: center;
  background-color: var(--white);
  padding: 5px;
  color: #fdf8fe;
}
.animate__animated {
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}
.header {
  border-radius: 10px 10px 0 0;
  height: 30vh;
  background-color: var(--blue);
  padding-top: 3rem;
}
.header h1 {
  animation-duration: 2s;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.header input {
  height: 6rem;
  margin-bottom: 2rem;
  width: 20%;
  color: var(--white);
  border: 3px solid #888;
  border-radius: 10px;
  background-color: var(--blue);
  font-size: 5rem;
  text-align: center;
}
.header button,
.header input {
  border-radius: 5px;
}
.header button {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 20%;
  height: 4rem;
  font-size: 1.5rem;
  color: var(--blue);
  border: none;
  cursor: pointer;
}
.miConversion-result {
  background-color: #f4f4f4;
  height: 69vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}
.result {
  height: 20vh;
  margin-bottom: 20px;
  color: var(--blue);
  background-color: var(--white);
}
.result h2 {
  padding-top: 40px;
  font-size: 1.8rem;
}
.result h3 {
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 1.9rem;
    margin: -40px 0 0px 0;
    padding-top: 10px;
  }
  .miConversion-result {
    padding: 0;
  }
  .header input {
    width: 200px;
    font-size: 2rem;
    height: 4rem;
    margin: 0;
    vertical-align: middle;
  }
  .header input,
  .header button {
    margin: 20px 0 0 0;
  }
  .header button {
    display: inline;
    width: 30%;
    vertical-align: middle;
  }
  .result {
  }
  .result h2 {
    margin-top: 0px;
    font-size: 1.4rem;
  }
  .result h3 {
    font-size: 1rem;
  }
}
